div>div:first-child {
    float: left;
    width: 100%;
}

div>div:nth-of-type(2){
    float: left; 
    width: 33.3%
}
div>div:nth-of-type(3) {
    float: left;
    width: 33.3%;
}
div>div:nth-of-type(4){
    float: left;
    width: 33.3%;
    
}
div>div:nth-of-type(5){
    float: left;
    width: 50%;
    
}
div>div:nth-of-type(6){
    float: left;
    width: 50%;
    
}
div>div:nth-of-type(7){
    float: left;
    width: 25%;
    
}
div>div:nth-of-type(8){
    float: left;
    width: 25%;
    
}
div>div:nth-of-type(9){
    float: left;
    width: 25%;
    
}
div>div:nth-of-type(10){
    float: left;
    width: 25%;
    
}
body {
    background-color:beige;
    font-family: fantasy;
}
@media only screen and (max-width:1024px) {
    body {
        background-color: dodgerblue;
        font-family:cursive;
        font-size: 2em;
    }

div>div: first-child {
    
    width: 100%;
}
div>div:nth-of-type(2){
    
    width:50%;
}
div>div:nth-of-type(3){
   
    width: 50%;
}
div>div:nth-of-type(4){
    
    width: 50%;
}
div>div:nth-of-type(5){
   width: 50%;
}
div>div:nth-of-type(6){
    width: 50%;
}
div>div:nth-of-type(7){
    width:50%;
}
div>div:nth-of-type(8){
    width:33.3%;
}
div>div:nth-of-type(9){
    width:33.3%;
}
div>div:nth-of-type(10){
    width:33.3%;
}
}
@media only screen and (max-width:640px) {
    body {
        background-color: dodgerblue;
        font-family:cursive;
        font-size: 1em;
    }

div>div:first-child {
    width: 100%;
}

div>div:nth-of-type(2){
    
    width: 33.3%;
}
div>div:nth-of-type(3) {
    width: 33.3%;
}
div>div:nth-of-type(4){
        
    width: 33.3%;
    
}
div>div:nth-of-type(5){
    width: 50%;
    
}
div>div:nth-of-type(6)){
    width: 50%;
    
}
div>div:nth-of-type(7){
    width: 25%;
    
    }
div>div:nth-of-type(8){
    width: 25%;
    
}
div>div:nth-of-type(9){
    width: 25%;
    
}
div>div:nth-of-type(10){
    width: 25%;
}













